/* NuevosUsuarios.css */

/* Fondo de la ventana principal */
.root {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #f89c56, #f1c69c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 4);
}

/* Estilos generales de texto */
.label {
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-text-fill: #666;
}

/* Título del formulario */
#registerTitle {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 28px;
    -fx-text-fill: #333;
}

/* Campos de texto */
.text-field, .password-field {
    -fx-background-color: #f0f0f0;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 14px;
}

/* Botón de guardar datos */
.button {
    -fx-end-margin: 20px;
    -fx-background-color: #6b2f00;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: 'Segoe UI Semibold';
    -fx-background-radius: 5;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-background-color: #8c3d00;
}

/* Pie de página */
#footer {
    -fx-background-color: #6b2f00;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 12px;
    -fx-padding: 10;
}
.backButton{
    -fx-background-color: #9c4819;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: 'Segoe UI Semibold';
    -fx-background-radius: 5;
    -fx-padding: 10 20;
}
.button:hover {
    -fx-background-color: #8c3d00;
}
